DATABASE_URL="postgresql://1:1@localhost:26257/gg?sslmode=disable"
LIVEKIT_API_KEY=devkey
LIVEKIT_API_SECRET=devsecret
SMS_API_KEY=
REDIS_URL=redis://localhost:6379
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin123
MINIO_BUCKET=gg
MINIO_PUBLIC_URL=http://localhost:9000
